@font-face {
    font-family: 'bebas_neueregular';
    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
         url('bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.leftside {
    background-image: url('background.jpg');
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.rightside {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 65vw;
}

.top {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 10%;
}

.mid {
    height: 30vh;
    background-color: white;
}

.form-main-div {
    display: flex;
    flex-direction: row;
}

.bottom {
    height: 40vh;
}