@font-face {
    font-family: 'bebas_neueregular';
    src: url('bebasneue-regular-webfont.woff2') format('woff2'),
         url('bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.leftside {
    background-image: url('background.jpg');
    width: 35vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.rightside {
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    width: 65vw;
}

.top {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
    margin-right: 10%;
}

.mid {
    height: 30vh;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.midheader {
    margin-left: 10%;
}

.form-main-div {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-left: 10%;
    justify-content: space-between;
}

.form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

input {
    width: 150%;
    height: 2.5vh;
    border-radius: 5px;
    border: 1px solid #e5e7eb;
}

input:focus {
    border: 1px solid blue;
    outline: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

.error {
    border: 1px solid red;
}

#error {
    color: red;
}

.bottom {
    height: 35vh;
    margin: 10%;
    margin-top: 5%;
}

label {
    font-size: 15px;
}

.btn-color {
    background-color: #d35a3f;
    border: 1px solid #544c49;
    border-radius: 5px;
    height: 60px;
    width: 200px;
    font-weight: 900;
    font-size: 1.5rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    color: #d35a3f;
}